@using BurgerApp.Models.Domain;
@model Burger
{
    <div>
        <div>@Model.Name</div>
        <div>@Model.Price</div>
        <div>@Model.IsVegeterian</div>
        <div>@Model.IsVegan</div>
        <div>@Model.HasFries</div>
    </div>
}
